/* Master Styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
.header-titles h1 {
    padding-left: 5%;
    color: seashell;
}
/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(245, 245, 245, 1);
}

.left-side {
    opacity: 1;
    font-size: 18px;
}
.right-side {
    display: flex;
}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    opacity: 1;
}

.nav-menu {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 1s;
}

.nav-menu a, .brand a {
    color: #8a8a8a;
    font-family: sans-serif;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-menu:hover a{
    border-bottom: 2px solid #8a8a8a;
    font-weight: bold;
    color: #8a8a8a;
}

.active-nav-link {
    border-bottom: 2px solid black !important;
    color: black !important;
    font-weight: bold;
}

/* Introduction Page*/
.intro-wrapper {
    position: relative;
    text-align: center;
    background-image: url("images/BackgroundIMGs/coffeeShop.jpg");
    background-size: 100% 120%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 60;
}
.intro-background {
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
    padding: 15%;
}
.intro-center-text {
    color: seashell;
}

/* Projects */
.project-container {
    position: relative;
    z-index: 70;
    background: black;
    height: auto;
    overflow: hidden;
}
.project-box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: calc(1% + 1.9vmin);
}
.project-grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(33%, 1fr));
    display: grid;
    height: auto;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: end;
    grid-gap: 20px;
  }
.project-button {
    transition: 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-style: solid;
}
.project-button:focus {
    outline: none;
}
.projectButton-1 {
    background-image: url("images/ProjectIMGs/FlockRounded.png");
}
.projectButton-1:hover, .projectButton-1:focus {
    background-image: url("images/ProjectIMGs/FlockRoundedHover.png");
}
.projectButton-2 {
    background-image: url("images/ProjectIMGs/ZombieShooterRounded.png");
}
.projectButton-2:hover, .projectButton-2:focus {
    background-image: url("images/ProjectIMGs/ZombieShooterRoundedHover.png");
}
.projectButton-3 {
    background-image: url("images/ProjectIMGs/PokedexRounded.png");
}
.projectButton-3:hover, .projectButton-3:focus {
    background-image: url("images/ProjectIMGs/PokedexRoundedHover.png");
}
.project-description-container {
    position: relative;
    width: 100%;
    /* height: 50vh; */
}
.project-info {
    position: relative;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

#project1-description, #project2-description, #project3-description {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#project1-description.active, #project2-description.active, #project3-description.active {
    display: block;
    position: relative;
    width: 90%;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    top: 0;
    left: 0;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}
#project-place-holder {
    visibility: visible;
    opacity: 1;
}
.project-picture {
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/BackgroundIMGs/linkedInBackground.jpg");
}
.project-title p {
    color: whitesmoke;
    font-size: 32px;
}
.project-description p {
    color: whitesmoke;
    font-size: 28px;
}
.project-tools {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}
/* About Page */
.about-me-wrapper {
    z-index: 80;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper {
    text-align: center;
}
.profile-img-wrapper img {
    width: 50%;
}
.profile-content-wrapper {
    padding: 30px;
}
.profile-content-wrapper h1 {
    color: lightseagreen;
}
footer{
    text-align: center;
}

/* Contact Items */
.contact-items-wrapper {
    z-index: 90;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4px;
    grid-auto-flow: column;
}
.contact-item-wrapper {
    position: relative;
}
.contact-img-background {
    height: 300px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.img-text-wrapper a {
    text-decoration: none;
}

.logo-wrapper img {
    transition: 1s;
    width: 40%;
    margin-bottom: 20px;
}

.logo-wrapper img:hover {
    transition: 1s;
    width: 45%;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    width: 100%;
    font-size: medium;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: whitesmoke;
    font-size: large;
}

.img-darken {
    transition: 1s;
    filter: brightness(60%);
}